body {
    margin-top: 0px;
}

/* navbar styling */
.navbar-inverse {
    background: rgba(0,0,0,0);
    border: none;
}

.navbar-brand {
    padding: 0px;
    letter-spacing: .25em;
}
.navbar-brand>img {
    height: 100%;
    padding: 5px;
    width: auto;
    display: inline;
}

/*  */
.jumbotron {
    width: 100%;
    background-color: rgba(0,0,0,0);
    text-align: left;
    color: #ddd;
}

#searchdiv {
    margin-top: 20px;
    margin-bottom: 10px;
}

.select2-results, .select2-search {
    color: #333;
    text-align: left;
    height: 30px;
}

#not_found {
    margin-top: 5%;
}
