<!DOCTYPE html>
{% extends "movies/moviebase.html" %}
{% load staticfiles %}

{% block content_block %}
<div class="inner_content">
    <div class="jumbotron container">
        <div class="container">

            <div class="row">

                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 left_image">
                            <a href="{{ project_one_single }}"><img src="{{ project_one.image }}" alt="{{ project_one.title }} poster" class="img-rounded img-responsive"></a>
                            <div class="hero_name">
                                <h3><strong>{{ project_one.title }}</strong></h3>
                            </div>
                        </div>
                        <div class="col-xs-6 right_image">
                            <a href="{{ project_two_single }}"><img src="{{ project_two.image }}" alt="{{ project_two.title }} poster" class="img-rounded img-responsive" ></a>
                            <div class="collab_name">
                                <h3><strong>{{ project_two.title }}</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="results">

                    {% if common_list %}

                        <div class="col-xs-12 table_header">
                            <h3>Collaborators:</h3>
                        </div>

                        {% for person, role1, role2 in common_list %}
                        <div class="col-xs-12 col-sm-4 info_tile thumbnail">
                            <div class="row">
                                <div class="col-xs-5 col-sm-4 poster">
                                    <a href="{{ person.link }}"><img class="img-responsive" src="{{ person.image }}" alt="{{person.name}} image"></a>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="col-xs-12 title">
                                        <h4><strong>{{ person.name }}</strong></h4>
                                    </div>
                                    <div class="col-xs-12 hero_role">
                                        <strong>{{ project_one.title }}</strong>:
                                        <!-- if statement adds comma only if there is more than one item on list -->
                                        {% for role in role1  %}{% if not forloop.first %}, {% endif %} {{ role }}{% endfor %}
                                    </div>
                                    <div class="col-xs-12 collab_role">
                                        <strong>{{ project_two.title }}</strong>:
                                        <!-- if statement adds comma only if there is more than one item on list -->
                                        {% for role in role2  %}{% if not forloop.first %}, {% endif %} {{ role }}{% endfor %}
                                    </div>

                                </div>
                            <div class="col-sm-4 col-hidden-xs "></div>
                            <div class="hidden_id">{{ person.id }}</div>
                            <div class="col-xs-12 col-sm-8 details">
                                <p class="get_details"><br><i class="fa fa-plus-circle" aria-hidden="true"></i> Show filmography</p>

                                <p style="display: none"><br><i class="fa fa-minus-circle" aria-hidden="true"></i> Hide filmography</p>
                                <div class="foldout col-xs-12 filmography">
                                    <ul></ul>
                                </div>
                            </div>

                            </div>
                        </div>
                        {% endfor %}

                    {% else %}
                        <div id="not_found" class="thumbnail">
                            <h3>It looks like nobody worked on both <strong>{{ project_one.title }}</strong> and <strong>{{ project_two.title }}</strong>.</h3>
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script_block %}
    <script type="text/javascript">
    $(document).ready(function() {
        mcPageVars["pageView"] = "multi";
        mcPageVars["pageType"] = "project";
    });
    </script>
{% endblock %}
