<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>moviecollab</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,800|Josefin+Sans" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
        <link href="{% static 'css/master.css' %}" rel="stylesheet">
        {% block css_block %}{% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    </head>
    <body>

    <!-- Help modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="helpModalLabel"><img src="{% static '/images/logo_placeholder.png' %}" alt="moviecollab logo"> Help</h4>
          </div>
          <div class="modal-body">
              <h2>About moviecollab</h2>
              <p>moviecollab makes it easy to find information about who has worked together on film and television projects.</p>
              <p>Suppose you're a fan of both Ridley Scott and Sigourney Weaver, and want to know if they've worked on anything together besides 'Alien' (1979). You search for both names, and discover they've also collaborated on '1492: Conquest of Paradise' (1992) and 'Exodus: Gods and Kings' (2014).</p>
              <p>Or suppose you can't remember the name of the guy who was in both 'Deadwood' and 'Justified'. Search for both to be reminded that it's Timothy Olyphant.</p>

              <h2><i class="fa fa-user" id="personicon" aria-hidden="true"></i> People search</h2>
              <p>People search allows you to look up people in the film and television industry. Select the <i class="fa fa-user" id="personicon" aria-hidden="true"></i>icon to open the people seach box. Just type in someone's name, and choose them from the drop down. You can then select the 'View filmography' button to see that person's filmography, or (and this is really the point of the site), you can search for another person to see all the projects they've worked on together.</p>

              <h2><i class="fa fa-film" id="filmicon" aria-hidden="true"></i> Project search</h2>
              <p>Select the <i class="fa fa-film" id="filmicon" aria-hidden="true"></i> icon to start looking up movies and/or tv shows. Enter one to view the full cast and crew, or add a second to find everyone who worked on both.</p>

              <h2>Use of TMDb Data</h2>
              <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="all_content">
        <div class="filter"></div>

        <div id="header_and_content">

        {% block header_block %}
        {% endblock %}

        <div id="content_and_footer">

        {% block content_block %}
        {% endblock %}

        </div><!-- header and content-->

        {% block footer_block %}
        {% endblock %}
        </div> <!--content and footer-->
    </div><!--all content-->

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/moviecollab.js' %}"></script>
    {% block script_block %}{% endblock %}
    </body>
</html>
